{% extends 'biblio/base/base.html.twig' %}

{% block title %}Hello
{% endblock %}

{% block body %}
	<!-- Page Content -->
	<div
		class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="page-title">Liste des documents</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{path('biblio_home')}}">Documents</a>
						</li>
						<li class="breadcrumb-item active">Liste des documents</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<!-- Content Starts -->
		<div class="row">
			{% for document in documents %}
				<div class="col-12 col-md-6 col-lg-4 d-flex">
					<div class="card flex-fill">
						<img alt="" src="{{'/img/img-pdf.png'|imagine_filter('my_thumb')}}" class="card-img-top">

						<div class="card-header">
							<h5 class="card-title mb-0">Card with image and list</h5>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Cras justo odio</li>
							<li class="list-group-item">Dapibus ac facilisis in</li>
							<li class="list-group-item">Vestibulum at eros</li>
						</ul>
					</div>
				</div>

			{% endfor %}
		</div>
		<!-- /Content End -->
	</div>
	<!-- /Page Content -->

{% endblock %}
